<form (ngSubmit)="onSubmit(editUserForm)" class="user-form" #editUserForm="ngForm" novalidate>
  <div class="form-group">
    <label for="user-name">User Name</label>
    <input type="text" class="form-control" id="user-name" [ngModel]="user?.name" (ngModelChange)="user.name = $event" name="name" [readOnly]="!formEditState.isEdit" #userName="ngModel" placeholder="User Name" minlength="3" required>
  </div>
  <div class="input-group">
    <div *ngIf="userName.invalid && (userName.dirty || userName.touched) && editUserForm.submitted" class="error-message">
      <div *ngIf="userName.errors.required">
        Name is required.
      </div>
      <div *ngIf="userName.errors.minlength">
        Name must be at least 3 characters long.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="user-email">User Email</label>
    <input type="email" name="email" class="form-control" id="user-email" [ngModel]="user?.email" (ngModelChange)="user.email = $event" [readOnly]="!formEditState.isEdit" required email #userEmail="ngModel" placeholder="User Email">
  </div>
  <div *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched) && editUserForm.submitted" class="error-message">
    <div *ngIf="userEmail.errors.required">
      Email is required.
    </div>
    <div *ngIf="userEmail.errors.email">
      Email is invalid.
    </div>
  </div>
  <button *ngIf="formEditState.isEdit" type="submit" class="btn btn-success">Submit</button>
</form>
